* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.heading {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  font-size: 4rem;
  font-family: "Tiny5", sans-serif;
}
@keyframes moveRoadLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.road-right, .road-left {
  position: absolute;
  width: 100%;
  height: 150px;
  background: url('../assets/img/enhanced.png') repeat-x;
  background-size: contain;
  overflow: hidden;
  animation: moveRoadLeft 3s linear infinite;
}


.road-left {
  left: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.game {
  position: relative;
  width: 100%;
  height: 700px;
  background: url(../assets/img/downloadedImage-enhanced.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#cat {
  z-index: 1;
  position: relative;
  width: 250px;
  height: 100px;
  background-image: url(../assets/img/myCat.gif);
  background-size: contain;
  background-repeat: no-repeat;
  top: 150px;
}
.jump {
  animation: jump 0.6s linear ;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  50% {
    top: 110px;
  }
  80% {
    top: 120px;
  }
  100% {
    top: 150px;
  }
}
#chair {
  z-index: 1;
  position: relative;
  width: 100px;
  height: 100px;
  background: url(../assets/img/chair.png);
  background-size: contain;
  top: 80px;
  left: 580px;
  
}
.chairMov {
  animation: chairMov 2s infinite linear ;
}
@keyframes chairMov {
  0% {
    left: 880px;
  }
  100% {
    left: 0px;
  }
}
@media screen and (width < 500px){
.game__playground {
  width: 100%;
  height: 400px;
  margin: auto;
}
#cat {
  position: relative;
  width: 150px;
  height: 100px;
  background-size: contain;
  top: 350px;
}
@keyframes jump {
  0% {
    top: 330px;
  }
  30% {
    top: 270px;
  }
  50% {
    top: 260px;
  }
  80% {
    top: 300px;
  }
  100% {
    top: 350px;
  }
}
#chair {
  position: relative;
  width: 100px;
  height: 90px;
  background: url(../assets/img/chair.png);
  background-size: contain;
  top: 280px;
  left: 580px;
  
}
.road-right, .road-left {
  position: absolute;
  width: 100%;
  height: 90px;
  background: url('../assets/img/enhanced.png') repeat-x;
  background-size: cover;
  overflow: hidden;
  animation: moveRoadLeft 2s linear infinite;
}
.chairMov {
  animation: chairMov 2.2s infinite linear ;
}
}